.ctas-wrapper {
  width: 100%;
}

.ctas-events-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 38px;
  margin-top: 36px;
}

.ctas-events-card {
  background: #191919;
  padding-left: 15px;
  color: white;
  width: 428px;
  height: 331px;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.ctas-events-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 11px;
  font-size: 38px;
  font-weight: 600;
  margin: 0;
}

.ctas-meta-group {
  width: 392px;
  margin-top: 20px;
}

.ctas-events-meta {
  font-size: 14px;
  color: #FFC745;
}

.ctas-events-desc {
  font-size: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.ctas-learn-more {
  margin-bottom: 20px;

  background: #ffc745;
  color: black;

  padding: 10px 14px;
  font-size: 24px;
  font-weight: 500;

  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 241px;
  height: 51px;

  margin-left: auto;
  margin-right: auto;
}

.ctas-learn-more:hover {
  opacity: 0.9;
}

.load-more-btn {
  border: 2px solid #FFC745;
  background-color: transparent;
  padding: 12px 24px;

  font-size: 18px;
  font-weight: 600;

  cursor: pointer;
  color: #FFC745;

  width: 670px;
  height: 51px;

  display: flex;
  justify-content: center;
  text-decoration: none;
}

.see-more-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 103px;
}

.ctas-content {
  flex: 1;
}