.donate-button {
  background-color: rgba(0, 0, 0, 0.8);
  color: #C1121F;
  border: 2px #C1121F solid;

  padding: clamp(6px, 1vw, 10px) clamp(12px, 2vw, 18px);

  font-size: clamp(14px, 2.2vw, 36px);
  font-weight: 600;

  cursor: pointer;
  white-space: nowrap;
}

.donate-button:active {
  transform: scale(0.97);
}


.donate-button:active {
  transform: scale(0.97);
}