.featured-actions-container {
  position: relative;
  width: 100%;
  min-height: 922px;
  margin-bottom: 5%;
}

.featured-actions-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

/* overlay */
.featured-actions-overlay {
  display: flex;
  margin-top: 36px;
}

.featured-actions-wrapper {
  position: relative;
  z-index: 1;

  width: 100%;
  padding-top: 36px;
}

/* title */
.featured-actions-title {
  font-size: 24px;
  color: white;
  margin-left: 40px;
  margin-bottom: 36px;
  margin-top: -30px;
}

/* list */
.featured-actions-list,
.featured-actions-list.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  width: 100%;
  padding: 0 40px;
  box-sizing: border-box;
}

/* CARD */
.featured-actions-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 20px;
  background-color: #191919;

  height: 100%;
  min-height: 468px;
  box-sizing: border-box;
}

/* text block */
.featured-actions-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 100%;
}

/* title */
.featured-actions-info h3 {
  font-size: 38px;
  color: white;
  font-weight: 600;
  margin: 0;

  line-height: 1.2em;
  height: calc(1.2em * 2);

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* text */
.featured-actions-info p {
  margin-top: 10px;
  color: white;
  font-size: 20px;
  line-height: 1.4;

  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* button */
.featured-actions-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #FFC745;
  color: black;

  height: 51px;
  width: 204px;

  text-decoration: none;
  font-weight: 500;
  font-size: 24px;

  cursor: pointer;
}

.featured-actions-btn:hover {
  opacity: 0.85;
}

/* see all */
.featured-actions-see-all-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 46px;
}

.featured-actions-see-all-btn {
  border: 4px solid #FFC745;
  background: transparent;
  color: #FFC745;

  width: 80%;
  max-width: 670px;
  height: 51px;

  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
}

.featured-actions-see-all-btn:hover {
  opacity: 0.85;
}

/* bottom text */
.featured-actions-text-lines {
  display: flex;
  flex-direction: column;
  margin-top: 62px;
  font-size: 40px;
  font-style: italic;
  width: 100%;
}

.featured-actions-left,
.featured-actions-right {
  background-color: #FFC745;
  padding: 10px 20px;
  height: 58px;
  display: flex;
  align-items: center;

  max-width: 90%;
}

.featured-actions-left {
  align-self: flex-start;
  margin-left: 40px;
  margin-bottom: 28px;
}

.featured-actions-right {
  align-self: flex-start;
  margin-left: 10%;
}

.featured-actions-priority-badge {
  background: #ff3b3b;
  color: white;
  font-size: 24px;
  font-weight: 700;

  padding: 4px 10px;

  margin-bottom: 10px;
  display: inline-block;
}

.featured-actions-tag{
  color: #FFC745;
  display: flex;
  align-self: flex-start;
}

.priority-btn {
  background-color: #ff3b3b !important;
  color: white !important;
}