.featured-container {
  position: relative;
  height: 922px;

  width: 100%;
  margin-bottom: 93px;

}


.rectangle-62 {
  width: 100%;
  object-fit: cover;
  display: block;
}


/* overlay that sits on top of image */
.protests-overlay {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;

  padding: 0 40px;

  gap: 30px;
}

/* individual protest card */
.protest-card {
  display: flex;
  gap: 28px;
  margin-top: 36px;
}

/* image on left */
.protest-image {
  width: 670px;
  height: 341px;
  object-fit: cover;
}

/* text on right */
.protest-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

/* title + description */
.protest-main {
  height: 200px;
  overflow: hidden;
  justify-content: flex-start;
}

.protest-main h3 {
  font-size: 38px;
  font-weight: 600;
}

.protest-main p {
  margin-top: 30px;
  font-size: 18px;
}

/* date + location block */
.protest-meta {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  font-size: 16px;
  color: #FFC745;
  margin-top: 20px;
}

.protest-meta-left {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.protest-meta p {
  margin: 0;
}

.join-btn {
  background-color: #191919;
  color: white;

  border: none;
  padding: 10px 18px;

  font-weight: 600;
  font-size: 16px;

  cursor: pointer;
}

.join-btn:hover {
  opacity: 0.85;
}

/* see all button */
.see-all-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.see-all-btn {
  border: 2px solid #FFC745;
  background-color: transparent;
  padding: 12px 24px;

  font-size: 18px;
  font-weight: 600;

  cursor: pointer;
  color: #FFC745;

  width: 670px;
  height: 51px;

  display: flex;
  justify-content: center;
  text-decoration: none;
}

.see-all-btn:hover {
  opacity: 0.85;
}