.footer {
  width: 100%;
}

/* TOP */
.footer-top {
  background: #ffc745;
  color: black;
  padding: 50px 30px;
}

.footer-top-content {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}

.footer-left {
  max-width: 600px;
}

.footer-title {
  font-size: clamp(32px, 5vw, 62px);
  font-weight: 700;
}

.footer-subtext {
  margin-top: 10px;
  font-size: clamp(16px, 2vw, 20px);
  font-style: italic;
}

/* RIGHT TOP */
.footer-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 520px;
  width: 100%;
}

.footer-input-row {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.footer-input {
  flex: 1;
  min-width: 160px;
  height: 55px;
  padding: 10px 12px;
  background: transparent;
  border: 3px solid black;
  font-size: 16px;
}

.footer-button {
  height: 55px;
  border: 3px solid black;
  background: transparent;
  font-size: 18px;
  cursor: pointer;
}

/* BOTTOM */
.footer-bottom {
  background: #191919;
  color: white;
  padding: 30px;
  overflow-x: auto;
}

.footer-bottom-content {
  display: grid;
  grid-template-columns: 1.5fr 1fr auto;
  grid-template-rows: auto auto;
  column-gap: 40px;
  row-gap: 10px;
  align-items: start;
}

/* BRAND */
.footer-brand {
  grid-column: 1;
}

.footer-brand-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-logo {
  width: 100px;
  height: 100px;
}

.footer-tagline {
  margin-top: 12px;
  font-size: clamp(15px, 1.6vw, 20px);
}

/* RIGHT AREA */
.footer-links-area {
  grid-column: 2;
  grid-row: 1;
  align-items: flex-end;
}

/* columns wrapper */
.footer-links-columns-wrap {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  justify-content: flex-end;
}

/* links */
.footer-links-column {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer-links-column a {
  color: #ffc745;
  text-decoration: none;
  font-size: 18px;
}

/* social */
.footer-social-column {
  display: flex;
}

.social-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.social-grid img {
  width: 36px;
  height: 32px;
}

/* META ROW */
.footer-meta-row {
  grid-column: 2 / 4;
  grid-row: 2;

  display: flex;
  justify-content: flex-end;
  gap: 60px;

  padding-top: 6px;
  border-top: 1px solid #2a2a2a;

  font-size: 13px;
  color: #aaa;
}

.footer-meta-row p {
  margin: 0;
}

.footer-meta-row {
  column-gap: 40px;
}

.privacy-text {
  cursor: pointer;
}

.privacy-text:hover {
  color: white;
}


@media (max-width: 1100px) {
  .footer-bottom-content {
    flex-direction: column;
    gap: 25px;
  }

  .footer-links-columns-wrap {
    gap: 25px;
  }
}

@media (max-width: 900px) {
  .footer-top {
    padding: 40px 20px;
  }

  .footer-bottom {
    padding: 25px 20px;
  }
}