/* SECTION WRAPPER*/
.action-section {
  position: relative;
  width: 100%;
}

/* BACKGROUND IMAGE */
.action-bg {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
}

/* OVERLAY */
.action-overlay {
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: column;
  
  color: white;
}

/* LAYOUT INSIDE OVERLAY */
.action-layout {
  display: flex;
  z-index: 2;
  margin: 40px;
  gap: 20px;
  position: relative;
}

.action-overlay {
  position: relative;
  z-index: 2;

  margin-top: -100%;
  padding-top: 40px;
}

/* ---------------- LEFT ---------------- */

.action-left {
  flex: 1;
  min-width: 300px;
}

.action-title {
  font-size: 38px;
  margin-bottom: 10px;
}

.action-subtitle {
  font-size: 24px;
  color: #ffc745;
  margin-bottom: 20px;
}

.action-meta-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  color: #aaa;
  font-size: 14px;
}

.action-description p {
  margin-bottom: 14px;
  line-height: 1.3;
  color: #ddd;
  max-width: 670px;
  font-size: 20px;
}

/* ---------------- RIGHT PANEL ---------------- */

.action-right {
  flex: 1;
  min-width: 280px;
}

.signup-panel {
  position: sticky;
  top: 40px;

  background: #1a1a1a;
  padding: 20px;
  border: 1px solid #333;

  width: 100%;
  max-width: 670px;
}

/* ---------------- STATS ---------------- */

.signup-stats {
  text-align: center;
  margin-bottom: 15px;
}

.signup-number {
  font-size: 32px;
  font-weight: bold;
  color: #ffc745;
}

.signup-label {
  font-size: 14px;
  color: #aaa;
}

/* PROGRESS BAR */

.signup-bar {
  height: 8px;
  background: #222;
  margin-bottom: 20px;
}

.signup-bar-fill {
  height: 100%;
  background: #ffc745;
  transition: width 0.3s ease;
}

/*FORM */

.signup-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.signup-box input {
  padding: 12px;
  background: #222;
  border: 1px solid #333;
  color: white;
}

.signup-box input:focus {
  outline: none;
  border: 1px solid #ffc745;
}

.signup-box button {
  background: #ffc745;
  border: none;
  padding: 14px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.signup-box button:hover {
  opacity: 0.9;
}

/* RESPONSIVE*/

@media (max-width: 900px) {
  .action-layout {
    flex-direction: column;
  }

  .signup-panel {
    position: static;
  }
}

.signup-goal {
  font-size: 17px;
  color: #ffc745;
  margin-top: 4px;
}

.urgency-text {
  color: #ffc745;
  font-size: 13px;
  text-align: center;
  margin-bottom: 10px;
}