.email-preview {
  margin-bottom: 20px;
}

.preview-box {
  max-height: 300px;
  overflow-y: auto;
  background: #111;
  border: 1px solid #333;
  padding: 15px;

  font-size: 20px;
  line-height: 1.6;
  color: #ddd;
}

.preview-box::-webkit-scrollbar {
  width: 6px;
}

.preview-box::-webkit-scrollbar-thumb {
  background: #444;
}

.email-header-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.email-placeholder {
  font-style: italic;
  opacity: 0.6;
  color: #ffc745;
}

.email-tabs {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
}

.email-tabs button {
  padding: 6px 10px;
  background: #222;
  border: 1px solid #444;
  color: #ccc;
  cursor: pointer;
  font-size: 14px;
}

.email-tabs button.active-tab {
  background: #ffc745;
  color: #000;
  font-weight: bold;
}