.email-preview {
  margin-bottom: 20px;
}

.preview-box {
  max-height: 300px;        /* controls visible height */
  overflow-y: auto;         /* enables vertical scroll */
  background: #111;         /* keeps same dark theme */
  border: 1px solid #333;
  padding: 15px;

  font-size: 20px;
  line-height: 1.6;
  color: #ddd;
}

/* optional: nicer scrollbar */
.preview-box::-webkit-scrollbar {
  width: 6px;
}

.preview-box::-webkit-scrollbar-thumb {
  background: #444;
}

.email-header-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.email-placeholder {
  font-style: italic;
  opacity: 0.6;
  color: #ffc745;
}