/* SECTION WRAPPER */
.petition-section {
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* BACKGROUND IMAGE */
.petition-action-bg {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
}

.petition-overlay {
  position: relative;
  width: 100%;
  z-index: 2;


  margin-top: -100%;
  padding-top: 40px;

  color: white;
}

/* LAYOUT */
.petition-layout {
  display: flex;
  flex-wrap: wrap;
  margin: 40px;
  gap: 20px;
}

/* LEFT */
.petition-left {
  flex: 1;
  min-width: 300px;
  background-color: #1a1a1a;
  padding: 10px;
}

.petition-title {
  font-size: 50px;
  margin-bottom: 10px;
  color: #ffc745;
}

.petition-subtitle {
  font-size: 24px;
  color: #ffc745;
  margin-bottom: 20px;
}

.petition-meta {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  color: #aaa;
  font-size: 14px;
}

.petition-description p {
  margin-bottom: 14px;
  line-height: 1.3;
  color: #ddd;
  max-width: 670px;
  font-size: 22px;
  font-weight: 500;
}

/* RIGHT */
.petition-right {
  flex: 1;
  min-width: 280px;
}

/* PANEL */
.petition-panel {
  position: sticky;
  top: 40px;

  background: #1a1a1a;
  padding: 20px;
  border: 1px solid #333;

  width: 100%;
  max-width: 670px;
}

@media (max-width: 900px) {
  .petition-layout {
    flex-direction: column;
  }

  .petition-panel {
    position: static;
  }
}

.petition-section {
  display: flex;
  flex-direction: column;
}