body {
  font-family: "Fira Sans", sans-serif !important;
}

html, body {
  background-color: #191919 !important;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}

.navbar-custom {
  display: flex;
  background-color: #191919;
  height: 146px;
  justify-content: space-between;
  align-items: center;
}

.white-logo{
  width: 100px;
  height: 100px;
  margin-left: 40px;
  margin-top: 12px;
  margin-bottom: 11px;
}

.navbar-links {
  display: flex;
  gap: 123px;
  margin-right: 42px;
}

.navbar-links a {
  border: 4px solid white;
  color: white;
  background-color: transparent;
  text-decoration: none;

  padding: 0 15px;
  height: 49px;

  font-weight: 500;
  font-size: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
}