body {
  font-family: "Fira Sans", sans-serif;
}

html, body {
  background-color: #191919 !important;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 1200px) {
  .container {
    padding: 0;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 0;
  }
}